@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content";

@theme static {
  --font-sans: "Public Sans", sans-serif;
}

:root {
  --ui-text-dimmed: var(--ui-color-neutral-400);
  --ui-text-muted: var(--ui-color-neutral-500);
  --ui-text-toned: var(--ui-color-neutral-600);
  --ui-text: var(--ui-color-neutral-700);
  --ui-text-highlighted: var(--ui-color-neutral-900);
  --ui-text-inverted: var(--color-white);

  --ui-bg: var(--color-white);
  --ui-bg-muted: var(--ui-color-neutral-50);
  --ui-bg-elevated: var(--ui-color-neutral-100);
  --ui-bg-accented: var(--ui-color-neutral-200);
  --ui-bg-inverted: var(--ui-color-neutral-900);

  --ui-border: var(--ui-color-neutral-200);
  --ui-border-muted: var(--ui-color-neutral-200);
  --ui-border-accented: var(--ui-color-neutral-300);
  --ui-border-inverted: var(--ui-color-neutral-900);
}

.dark {
  --ui-text-dimmed: var(--ui-color-neutral-500);
  --ui-text-muted: var(--ui-color-neutral-400);
  --ui-text-toned: var(--ui-color-neutral-300);
  --ui-text: var(--ui-color-neutral-200);
  --ui-text-highlighted: var(--color-white);
  --ui-text-inverted: var(--ui-color-neutral-900);

  --ui-bg: var(--ui-color-neutral-900);
  --ui-bg-muted: var(--ui-color-neutral-800);
  --ui-bg-elevated: var(--ui-color-neutral-800);
  --ui-bg-accented: var(--ui-color-neutral-700);
  --ui-bg-inverted: var(--color-white);

  --ui-border: var(--ui-color-neutral-800);
  --ui-border-muted: var(--ui-color-neutral-700);
  --ui-border-accented: var(--ui-color-neutral-700);
  --ui-border-inverted: var(--color-white);
}

html,
:host {
  line-height: 1.5;
  tab-size: 4;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
  box-sizing: content-box;
  overflow: hidden;
  background: transparent;
  border-bottom: 1px solid;
  height: 0.25em;
}

abbr:where([title]) {
  border-bottom: none;
  text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
h1 {
  margin: 0.67em 0;
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid;
}
h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
}
h3 {
  font-size: 1.25em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 0.875em;
}
h6 {
  font-size: 0.85em;
}
h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:focus {
  outline: 2px solid;
  outline-offset: -2px;
  box-shadow: none;
}
a:focus:not(:focus-visible) {
  outline: solid 1px transparent;
}
a:focus-visible {
  outline: 2px solid;
  outline-offset: -2px;
  box-shadow: none;
}
a:not([class]):focus,
a:not([class]):focus-visible {
  outline-offset: 0;
}
a:not([href]) {
  color: inherit;
  text-decoration: none;
}

b,
strong {
  font-weight: bolder;
}

p,
blockquote,
table,
ol,
ul,
dl,
pre,
details {
  margin-top: 0;
  margin-bottom: 16px;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}
blockquote {
  margin: 0;
  padding: 0 1em;
  border-left: 0.25em solid;
}
blockquote > :first-child {
  margin-top: 0;
}
blockquote > :last-child {
  margin-bottom: 0;
}

code,
kbd,
samp,
pre {
  font-family: monospace;
  font-size: 1em;
}
pre {
  margin-top: 0;
  margin-bottom: 0;
  word-wrap: break-word;
}
code {
  padding: 0.2em 0.4em;
  margin: 0;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}
ol,
ul,
menu {
  list-style: none;
}
ol,
ul {
  padding-left: 2em;
}

small {
  font-size: 80%;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}
img,
video {
  max-width: 100%;
  height: auto;
}
img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
}

button,
input,
select,
optgroup,
textarea,
::file-selector-button {
  font: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  letter-spacing: inherit;
  color: inherit;
  border-radius: 0;
  background-color: transparent;
  opacity: 1;
}
input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

textarea {
  resize: vertical;
}
